body {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

header .container {
  max-width: 1000px;
  width: 100%;
  height: auto;
  align-items: flex-start;
}

header nav img {

}
